:root {
    --white: #fff;
    --black: #000;
    --darkcyan: rgb(0,139,139);
    --gray: rgba(105, 105, 105, 0.438);
    --background:url("./imgs/tokio-japon-ilustracion-digital_1280x720_xtrafondos.com.jpg");
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: var(--background) center no-repeat;
    background-size: cover;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 90%;
    border: none;
}
main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80%;
    color: var(--white);
    gap: 20px;
    padding: 35px 25px;
    border:  none;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(8px);
    outline: 2px solid var(--gray);
    box-shadow: 0 0 20px var(--black);
}
.input {
    display: flex;
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 10px;
    outline: 1px solid var(--white);
    background: transparent;
    color: var(--white);
    padding: 5px 10px;
}