:root {
    --white:#fff;
    --black:#000;
    --gray: rgba(255, 255, 255, 0.219);
    --darkcyan:darkcyan;
    --background: url("../imgs/tokio-japon-ilustracion-digital_1280x720_xtrafondos.com.jpg");
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .3s ease-in-out;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: var(--background) no-repeat center;
    background-size: cover;
}
header {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 10vh;
    width: 100%;
    background-color: var(--darkcyan);
}
header img {
    display: flex;
    object-position: center;
    object-fit: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
header nav {
    display: flex;
    align-items: center;
    padding-right: 20px;
    gap: calc(1px + 4%);
    justify-content: end;
    height: 100%;
    min-width: 50%;
}
nav a {
    position: relative;
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}
nav a::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 10%;
    top: 100%;
    left: 50%;
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
}
nav a:hover::before{
    width: 100%;
    left: 0%;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 90%;
    background-color: var(--gray);
}
main picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    gap: 40px;
    height: 100%;
    width: 100%;
    overflow: auto;
}
main picture img {
    display: flex;
    cursor: pointer;
    width: auto;
    height: 80%;
    object-fit: cover;
    align-content: center;
    border-radius: 10px;
    outline: 2px solid var(--black);
}
.expand {
    position: fixed;
    height: 60vh;
    top: 20vh;
    left: 40vw;
}
@media (max-width:400px) {
    :root {
        --background:url("../imgs/tokio-japon-ilustracion-digital-vertical.jpg");
    }
    header nav {
        display: none;
    }
}